
  <article class="story">
    <header class="story-header">
      <p class="omega"><span class="pill">Figures</span></p>
      <h1 class="serif normal">A figure is that which is contained by any boundary or boundaries.</h1>
      <p class="byline semi zeta">by Euclid on <time>November 12, 2014</time></p>
    </header>

    <div class="story-content">
      <p>Consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit</p>
    </div>

    <footer class="story-footer">
      <p class="meta zeta"><a href="#" class="button tiny hollow">Read More</a></p>
    </footer>
  </article>