<h4 class="pattern-title text-center">Color Palette</h4>

<ul class="pattern-swatches small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	<li>
		<div class="swatch color-primary">
			<p>
				<span class="name">Primary</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-secondary">
			<p>
				<span class="name">Secondary</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-wash">
			<p>
				<span class="name">Wash</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-alert">
			<p>
				<span class="name">Alert</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-success">
			<p>
				<span class="name">Success</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-ghost">
			<p>
				<span class="name">Ghost</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-snow">
			<p>
				<span class="name">Snow</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-vapor">
			<p>
				<span class="name">Vapor</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-white-smoke">
			<p>
				<span class="name">White Smoke</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-smoke">
			<p>
				<span class="name">Smoke</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-gainsboro">
			<p>
				<span class="name">Gainsboro</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-iron">
			<p>
				<span class="name">Iron</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-base">
			<p>
				<span class="name">Base</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-aluminum">
			<p>
				<span class="name">Aluminum</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-jumbo">
			<p>
				<span class="name">Jumbo</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
	<li>
		<div class="swatch color-monsoon">
			<p>
				<span class="name">Monsoon</span>
				<span class="color-label"></span>
			</p>
		</div>
	</li>
</ul>