.main-header {
  background-color: #03a2cc;
  border-bottom: 2px solid #038eb3;
  border-top: 8px solid #038eb3;
  color: #fff;
  padding: 5em 0 .5em;
  text-align: center;
}

.portfolio {
  margin-top: 3rem;
  text-align: center;
}

