.main-header {
  background-color: #03a2cc;
  color: #fff;
  padding: 8em 0;
  text-align: center;

  p {
    color: #fff;
  }
}

.portfolio {
  margin: 5rem auto;
  text-align: center;

  img {
    display: block;
  }
}

.project {
  border-bottom: 2px solid #e8e6eb;
  text-align: center;
  margin-bottom: 12rem;

  &_header {
    margin-bottom: 5rem;
  }

  &_slide {
    border-width: 2.5em 1px 1px 1px;
    border-style: solid;
    border-color: #e8e6eb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5rem;
  }

  .no-screen {
    background-color: #efefef;
    border-top: 2px solid #e8e6eb;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

h2 {
  margin-bottom: 3rem;
}

p {
  color: #999;
}

a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15rem;

  li {
    margin: 1rem 0;
  }
}