// $BaseType
// -------------------------------------//

$base-font-size: 16px;
$base-line-height: 24px;

$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$sans-font-family-semibold: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-font-family-bold: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family: $sans-font-family-bold;
$serif-font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, serif;

// $Brand Colors
$primary-color:     #00baff;
$secondary-color:   #2b3848;
$wash-color:        #efefef;
$alert-color:       #eda92c;
$success-color:     #0e4a77;

$row-width: rem-calc(1000);