  
  <ul class="clearing-thumbs" data-clearing>
    <li><a href="http://placehold.it/2880x1620"><img src="http://placehold.it/288x162"></a></li>
    <li><a href="http://placehold.it/2880x1620"><img src="http://placehold.it/288x162"></a></li>
    <li><a href="http://placehold.it/2880x1620"><img src="http://placehold.it/288x162"></a></li>
  </ul>